body {
    padding: 0;
    margin: 0;
    background-color: #1C1C1C;
}

.container {
    background-color: #1F2937;
    /* align-items: center; */
    width: 550px;
    /* text-align: center; */
    margin: 0 auto;
    padding: 50px 20px;
    margin-top: 100px;
    
}

h2 {
    /* border:  1px solid black; */
    margin: 0;
}

.green-styling {
    color: #4ADF86;
}

.white-styling {
    color: #fff;
}

p {
    color: #D5D4D8;
}

input {
    display: block;
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
}

.generate-password-btn {
    color: #ffffff;
    background-color: #10B981;
    padding: 5px 10px;
    border-radius: 6px;
    border:  none;
}

hr {
    color: #2F3E53;
}

.password-area-container {
    display: flex;
    justify-content: space-between;
}

.password-area {
    background-color: #273549;
    color: #55F991;
    margin-right: 10px;
    padding: 10px;
    border-radius: 6px;
    width: 300px;
    font-size: 16px;
    /* border: 1px solid white;
    width: 200px;
    padding: 5px;
    height: 39px;
    color: #273549;
    color: #55F991;
    border: none; */
}